<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <title>{{traveler}}'s profile</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/blog-post.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body class="container" style="min-width: 970px;">
   <nav class="navbar navbar-default" style="min-width: 1140px;">
         <div class="col-md-3">
            <img height="80" src="{% static "1.jpg" %}" />
         </div>
         <div class="col-md-7">
             <h1><p>{{traveler}}'s profile</p></h1>
         </div>
         <div class="col-md-2">
             <a href="{% url 'home' %}"><button type="button" class="btn btn-default navbar-btn">Go to home page</button></a>
             <a href="{% url 'post_new' %}"><button type="button" class="btn btn-default navbar-btn">Add post</button></a>
             <a href="{% url 'logout' %}"><button type="button" class="btn btn-default navbar-btn">Exit</button></a>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <hr>
                {{traveler.notifications}}
                <hr>
                {% load static %}
                        <img src="{% get_media_prefix %}{{ traveler.avatar }}" class="img-responsive img-rounded">
                {{ traveler.avatar }}
                <hr>
                {{traveler.email}}
                <hr>

                <hr>
                {{traveler.notification_count}}
                <hr>
            </div>
        </div>
    </div>
</body>
</html>
