{% extends 'admin/base_site.html' %}
{% block content %}
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% for post in posts %}
                <h1><a href="{% url 'post_detail' post.id %}">{{post.title}}</a></h1>
                <p class="lead">
                    by <a href="#">{{post.author}}</a>
                </p>
                <hr>
                <p>
                    <span class="glyphicon glyphicon-time"></span> Posted on {{post.created_date}}
                </p>
                <hr>
                <img class="img-responsive" src="{{ post.picture_url|default_if_none:'#' }}" alt="" />
                <hr>
                <p class="lead" align="center">{{post.text|truncatechars:500}}</p>
                <hr>
                <p class="lead" align="right">
                    <img height="40" src="{% static "like.jpg" %}" /> {{post.rating.likes}}
                    <img height="40" src="{% static "dislike.jpg" %}" /> {{post.rating.dislikes}}
                </p>
                 <div align="left">
                    <a href="{% url 'post_detail' post.id %}"><button type="button" class="btn btn-default navbar-btn">Details</button></a>
                 </div>
                    <hr>
            {% endfor %}
            </div>
        </div>
    </div>

</html>
{% endblock content %}
