<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/bootstrap_min.css">
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/home.css">
    <title>
        Travelblog
    </title>
</head>

<body>
<nav role="navigation" class=" navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                   <img class="media-object" hspace="10" height="20" src="{% static "1.jpg" %}">
            </a>
        </div>
        <div class="collapse navbar-collapse">
            {% if traveler %}
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'all_posts' '1' %}">Все посты</a></li>
                    <li class="active"><a href="{% url 'post_new' %}">Добавить новый пост</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="{% url 'account_posts' traveler '1' %}">Моя страница</a></li>
                    <li class="active"><a href="{% url 'account_settings' %}">Настройки</a></li>
                    <li class="active"><a href="{% url 'logout'  %}">Выйти</a></li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="{% url 'login' %}">Войти</a></li>
                    <li class="active"><a href="{% url 'register' %}">Зарегистрироваться</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>
<div class="jumbotron">
    <h1>Привет, путешественник!</h1>
    <div class="container">
        <div class="col-md-8">
            <p>Не с кем поделиться впечатлениями о путешествии? Хочется узнавать все больше о других странах? Начните свой блог прямо сейчас.Делись постами о наиболее интересных и необычных уголках планеты,выкладыай фотографии,показывай на карте места, в которых ты побывал! Здесь собрались путешественники совершено разных возрастов, из разных городов, профессионалы, любители, новички.Читайте друг друга, вдохновляйтесь на новые путешествия!</p>
        </div>
        <div class="col-md-4">
            <img src="{% static "planet.gif" %}">
        </div>
    </div>
    <input type="submit" id="submit" value="Посмотреть посты других людей">
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Вас обязательно прочтут</h2>
          <p>Когда вы публикуете пост, он попадает в общую ленту, которую читают все пользователи и гости нашего сайта!</p>
    </div>
        <div class="col-md-6">
          <h2>Оставляй комментарии к постам</h2>
          <p>Мнение о вашем посте можно узнать из комментариев пользователей!</p>
       </div>
 </div>
</body>
</html>
