<!DOCTYPE html>
{% load staticfiles %}
{% load leaflet_tags %}
<html lang="en">
<head>
    <style>
     body{
      background-image: url(/static/home.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-color: #FFC0CB;
    }
    </style>
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% leaflet_js %}
    {% leaflet_css %}
</head>

<body class="container" style="min-width: 970px;">
    <nav class="navbar navbar-default" style="min-width: 1140px;">
          <div class="col-md-3">
               <a class="navbar-brand" href="#">
        <img height="50" src="{% static "1.jpg" %}" />
        </a>
          </div>
        <div class="col-md-7">
            <h1><p>Blog for travelers</p></h1>
        </div>
        <div class="col-md-2">
            <a href="{% url 'register' %}"><button type="button" text-align="before" class="btn btn-default navbar-btn">Sign up</button></a>
            <a href="{% url 'login' %}"><button type="button" class="btn btn-default navbar-btn">Login</button></a>
        </div>
    </nav>

    <style>
        .leaflet-container {  /* all maps */
            height: 500px;
        }
    </style>

    <script type="text/javascript">
        var dataurl = '{% url "data" %}';
        window.addEventListener("map:init", function (event) {
            var map = event.detail.map;
            // Download GeoJSON data with Ajax
            fetch(dataurl)
                .then(function(resp) {
                return resp.json();
                })
                .then(function(data) {
                L.geoJson(data, {
                    onEachFeature: function onEachFeature(feature, layer) {
                    var props = feature.properties;
                    var content = `<img width="150" src="${props.picture_url}"/><h3>${props.title}</h3>`;
                    layer.bindPopup(content);
                    }}).addTo(map);
                });
        });
    </script>

    {% leaflet_map "main" %}

    </body>
</html>