<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/bootstrap_min.css">
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/signup.css">
    <title>
        Signup
    </title>
</head>

<body>
<nav class=" navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}">
                   <img class="media-object" hspace="10" height="20" src="{% static "1.jpg" %}">
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'home' %}">Главная</a></li>
                <li class="active"><a href="{% url 'all_posts' '1' %}">Все посты</a></li>
            </ul>
        </div>
    </div>
</nav>

<form id="login" method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    <h1>Регистрация</h1>
    <fieldset id="inputs">
        {% for error in form %}
            {% if error.errors %}
                <div><strong>Ошибка!</strong> {{ error.errors }}</div>
            {% endif %}
        {% endfor %}

        {% for input in form %}
            <label>{{ input.label }}</label>
                {{input}}
            <br />
        {% endfor %}
    </fieldset>
    <fieldset id="actions">
        <input type="submit" id="submit" value="Стать владельцем блога!">
    </fieldset>
</form>
</body>
</html>
